@import "navsidebar.css";
.navigation {
  margin-top: -50px;
}
/* MAIN1 */
.main1 {
  position: relative;
  margin-left: 150px;
  margin-top: 50px;
}
.main2 {
  position: relative;
  margin-top: 30px;
  margin-left: 90px;
}
.main1 .title2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1130px;
}
.main1 .title2 h1 {
  position: relative;
  align-content: center;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  padding: 20px;
}

.bot {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.bot .create .fa :hover {
  background: white;
  color: blue;
}

.delete :nth-child(1) {
  background-color: rgb(255, 140, 140);
}

.bot input[type="submit"] {
  position: fixed;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 50px;
  padding: 2px;
  height: 40px;
  width: 120px;
  background-color: rgb(47, 79, 192);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* CREATE BUTTON STYLE */
.create, 
.delete {
  position: relative;
  display: inline-block;
}
.create input[type="submit"], 
.delete input[type="submit"] {
  position: relative;
  margin: 0;
  padding-left: 2em;
}

.create .fa, 
.delete .fa {
  z-index: 2;
  color: white;
  display: inline-block;
  position: absolute;
  left: 1em;
  top: 30%;
}

.create input[type="submit"]:hover, 
.delete input[type="submit"]:hover {
  border-style: groove;
  padding-right: 30px;
  background: whitesmoke;
  color: blue;
}

.delete input[type="submit"] {
  background-color: rgb(255, 140, 140);
}

.delete input[type="submit"]:hover {
  color: red;
}

input[type="text"],
input[type="number"],
select {
  width: 60px;
  padding: 10px 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#sea {
  margin-left: 10px;
  width: 100%;
}
#sea ::placeholder {
  padding-left: 0px;
}
.table1 {
  margin-left: 70px;
}
/* CARD HEADER */
.card-header {
  position: absolute;
  /* top: 250px; */
  left: 90px;
}
/* HOVER / STYLED TABLE */
.hover {
  border-collapse: collapse;
  margin: 25px 0 0px 50px;
  font-size: 0.8em;
  width: 100px;
  font-family: sans-serif;
  min-width: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.hover thead tr {
  background-color: rgb(47, 79, 192);
  color: white;
  text-align: center;
}
.hover th,
.hover td {
  text-align: left;
  padding: 20px 20px 20px 50px;
}
.hover input {
  margin-right: 10px;
  width: 50;
  size: 100px;
}
.hover tbody tr {
  border-bottom: 10px solid #dddddd;
}
.hover tbody tr {
  background-color: #f3f3f3;
}

.hover tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.search #sea i {
  left: 160px;
  bottom: 22px;
  position: absolute;
  display: inline-block;
}
#sea input[type="text"] {
  padding-left: 60px;
}

.hover input.larger {
  position: absolute;
  left: 110px;
  width: 20px;
  height: 20px;
}
.hover tr td span {
  position: absolute;
  left: 290px;
  padding: 0px 300px 0px 0px;
}

.card-header button.btn.btn-view[type="submit"] {
  background-color: yellow;
  border-color: yellow;
  margin-left: -20px;
  cursor: pointer;
}
.card-header button.btn.btn-update[type="submit"] {
  background-color: rgb(106, 106, 224);
  border-color: rgb(106, 106, 224);
  color: white;
  margin-left: -20px;
  cursor: pointer;
}

.card-header button.btn.btn-view[type="submit"].btn:hover {
  background-color: rgb(126, 126, 19);
  color: white;
  margin-left: -20px;
}
.card-header button.btn.btn-update[type="submit"].btn:hover {
  background-color: blue;
  color: white;
  margin-left: -20px;
}
.btn {
  color: black;
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 70%;
  height: 350px;
}

h5#exampleModalLabel.modal-title {
  font-size: 20px;
  background-color: #2f4fc0;
  color: white;
  margin-top: -20px;
  width: 107.3%;
  margin-left: -21px;
  padding: 10px 0 10px 15px;
}

h6#modal_body {
  font-size: 15px;
  margin-top: 10px;
  font-weight: normal;
}

button.close {
  background-color: #2f4fc0;
  border: none;
  margin-top: 5px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
button#submit.btn.btn-primary.btn-sm {
  background-color: rgb(248, 222, 126);
  border: none;
  color: white;
  width: 130px;
  height: 43px;
  margin-left: 200px;

  border-radius: 10px;
  padding: 5px 5px;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  margin-top: 47px;
}
.multi-selector {
  width: max-content;
}

.select-field,
.task,
.list {
  width: 40%;
  margin-left: 45px;
  background-color: white;
  padding: 0.3rem;
}

.list {
  box-shadow: 0 30px 60px rgb(0, 0, 0, 0.2);
  display: none;
}
.down-arrow {
  font-size: 1.2rem;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s linear;
  margin-left: -47px;
  user-select: none;
}
.task {
  display: block;
  padding-left: 0;
}
.task span {
  float: right;
  font-size: 0.6rem;
  padding-top: 6px;
}
.task:hover {
  background-color: aliceblue;
}
.show {
  display: block;
  margin-top: -20px;
  margin-left: 10px;
}
div.list.show {
  display: block;
  margin-top: -10px;
  margin-left: 6px;
  overflow-y: scroll;
  height: 240px;
  width: 290px;
  font-size: 15px;
}
.rotate180 {
  transform: rotate(-60deg);
}
input.input-selector {
  width: 130px;
  user-select: none;
  cursor: pointer;
  border: 1px solid black;
}

.list1 {
  box-shadow: 0 30px 60px rgb(0, 0, 0, 0.2);
  display: none;
}
.down-arrow1 {
  font-size: 1.2rem;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s linear;
  margin-left: -50px;
  user-select: none;
}
.task {
  display: block;
  padding-left: 0;
}
.task span {
  float: right;
  font-size: 0.6rem;
  padding-top: 6px;
}
.task:hover {
  background-color: aliceblue;
}
.show {
  display: block;
  margin-top: -20px;
  margin-left: 10px;
}
div.list1.show {
  display: block;
  margin-top: -20px;
  margin-left: 360px;
  height: 150px;
  width: 220px;
  font-size: 15px;
  overflow-y: scroll;
}

input.input-selector1 {
  width: 130px;
  user-select: none;
  cursor: pointer;
}
.select-field1,
.task,
.list1 {
  width: 40%;
  margin-left: 370px;
  margin-top: -63px;
  background-color: white;
  padding: 0.3rem;
}
.list1 {
  box-shadow: 0 30px 60px rgb(0, 0, 0, 0.2);
  display: none;
}

.down-arrow2 {
  font-size: 1.2rem;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s linear;
  margin-left: -50px;
}
.task {
  display: block;
  padding-left: 0;
}
.task span {
  float: right;
  font-size: 0.6rem;
  padding-top: 6px;
}
.task:hover {
  background-color: aliceblue;
}
.show {
  display: block;
  margin-top: -20px;
  margin-left: 10px;
}
div.list2.show {
  display: block;
  margin-top: 0px;
  margin-left: 670px;
  width: 280px;
  overflow-y: scroll;
}

input.input-selector2 {
  width: 130px;
}
.select-field2,
.task,
.list2 {
  width: 35%;
  margin-top: -67px;
  margin-left: 690px;
  background-color: white;
  padding: 0.3rem;
}
.list2 {
  box-shadow: 0 30px 60px rgb(0, 0, 0, 0.2);
  display: none;
}
select.Violation {
  border: 1px solid black;
}
select.Violation1 {
  border: 1px solid black;
}
select.Violation2 {
  border: 1px solid black;
}

span.badge{
  background-color: red;
  border-radius: 50px;
  font-size: 0.7em;
  text-align: center;
  padding: 0px;
  width: 15px;
  height: 15px;
  margin-top: -10px;
  margin-left: -10px;
}
span.badge2{
  background-color: red;
  border-radius: 50px;
  font-size: 0.7em;
  text-align: center;
  padding: 0px;
  width: 15px;
  height: 15px;
 
}
/* LISTSTYLE */
/* .card-header {
    margin-left: 133px;
    text-align: center;
    margin-top: -60px;
} */

/* label {
    margin-left: 90px;
    margin-bottom: -1100px;
} */

/* div#myDataTable_length.dataTables_length {
    margin-top: -20px;
    margin-bottom: 30px;
} */

/* div#myDataTable_info.dataTables_info {
    margin-left: 80px;
    margin-top: 10px;
} */

/* div#myDataTable_paginate.dataTables_paginate.paging_simple_numbers {
    margin-right: -95px;
    margin-top: 10px;
} */

/* div#myDataTable_filter.dataTables_filter {
    margin-right: 300px;
    margin-top: -10px;
} */

table.dataTable {
  width: 1100px;
  margin: 0;
  margin-left: 90px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_info {
  margin-left: 90px;
}

.dataTables_wrapper .dataTables_filter {
  margin-top: 10px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
  margin-bottom: 30px;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
  margin-top: 30px;
}
/* .dataTables_wrapper .dataTables_filter input{
    width: 400px;
    background-color: white;
    padding: 12px 10px;
    margin: 8px 25px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */

table.dataTable th,
table.dataTable td {
  border-bottom: 10px solid #f3f3f3;
  font-size: 16px;
}

table.dataTable td {
  background-color: white;
  height: 10px;
}

table.dataTable td select, .main1 .title2 select {
  font-size: 16px;
  background-color: rgb(47, 79, 192);
  color: white;
  width: 100px;
  margin: 0;
}
