.containeral{
    width: 5000px;
    height: 10px;
    position: center;
}
.modal-dialog{
    width: 5000px;
    height: 10px; 
}.modal-title{
    padding: 5px 5px 5px 20px;
    font-size: 30px;
    width: 500px;
}
.modal{
    width: 10000px;
    height: 500px;
}

.modal-title{
    margin-left: 0px;
    background-color: blue;
    color: aliceblue;
}
.modal-body{
    margin-top: 10px;
    margin-left: 30px;
}
#area{
    resize: none;
    width: 400px;
    height: 100px;
}