@import "navsidebar.css";
.cardbox{
    margin-left: 100px;
    margin-top: 30px;
    width: 30px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.cardbox .card{
    margin-left: 40px;
    border-left: solid;
    box-shadow: 5px 5px #ddd6d6;
    border-color: lightskyblue;
    border-width: 5px;
    background: white;
    padding: 20px;
    width: 260px;
    height: 90px;
    display: flex;
    justify-content: space-between;
}
.cardbox :hover{
    background: lightskyblue;
    color: white;
}
.card{
    margin: 10px;
}
.cardbox .card .cardname{   
    margin-left: -120px;
    font-size: 20px;
    font-family: 'Bebas Neue';
}
.cardbox .card .numbers{
    margin-left: -120px;
    font-size: 30px;
    font-family: 'Bebas Neue';  
}

.cardbox .card .iconss{
    margin-left: 10px;
    align-items: center;
    
}
.mainn{
    margin-left: 150px;
}
.boddy{
    background: white;
    border: 1px solid rgb(204, 201, 201);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px 10px;
    width: calc(100vw - 190px);
}

.cardbody h2{
    font-family:sans-serif ;
    font-weight: 1rem;
    font-size: 1rem;
    margin-left: 20px;
}

.pictures{
    margin-left: 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px 15px;
}

.pictures .card-pictures img{
    width: 330px;
    height: 240px;
    border-radius: 10px 10px 0 0;
}

.pictures .card-pictures h3{
    padding: 60px 0 0 20px;
    text-align: left;
    margin-top: -50px;
    margin-bottom: 30px;
    width: 330px;
    height: 140px;
    font-size: 1rem;
    color: white;
    border-radius: 0 0 10px 10px;
}

.pictures .card-pictures:nth-child(1) h3{
    background-color: lightseagreen;
}
.pictures .card-pictures:nth-child(2) h3{
    background-color: lightcoral;
}
.pictures .card-pictures:nth-child(3) h3{
    background-color: lightgreen;
}
 
 
.card-pictures h4{
    background-color: white;
    font-size:smaller;
    color: black;
    padding: 8px;
    width: 80px;
    text-align: center;
    margin-top: -82px;
    margin-left: 130px;
    margin-bottom: 20px;
    border-radius: 20px;

}
.card-pictures h4:hover{
    color: white;
    cursor: pointer;
}

.card-pictures:nth-child(1) h4:hover{
    background-color: rgb(14, 139, 133);
}
.card-pictures:nth-child(2) h4:hover{
    background-color: rgb(231, 87, 87);
}
.card-pictures:nth-child(3) h4:hover{
    background-color: rgb(89, 204, 89);
}

.card-pictures .fa{
    padding-left: 5px;
}



.anoun{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px 15px;
    gap: 30px;
}

.ongoing,
.expired{
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px 10px 0 0;
    border-color: lightgray;
    padding: 30px;
    width: 490px;
    height: 230px;

}

.anoun-header{
    display: flex;
    justify-content: space-between;
    width: 490px;
    margin-left: -30px;
    margin-top: -30px;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}
.ongoing p,
.expired p{
    color: white;
}
a.btn{
    text-decoration: none;
    color: white;
}

.ongoing .anoun-header{
    background-color: lightcoral;   
}
.expired .anoun-header{
    background-color: lightskyblue;
}

.table1 tr,
.table1 td {
    text-align: left;
    padding: 10px 10px 10px 30px;
}
.table2 tr,
.table2 td {
    text-align: left;
    padding: 10px 10px 10px 30px; 
}

.cement{
    display: flex;
    justify-content: space-between;
}
.cement p{
    padding: 10px 20px;
    font-size: 15px;
}
.cement p .fa{
    padding-right: 10px;
}
